@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --gray-10: #f0f0f0;
  --gray-20: #ddd;
  --gray-30: #aaa;
  --gray-40: #777;
  --gray-50: #555;

  --cool-gray-10: #f3f4f6;
  --cool-gray-20: #9fa8b7;
  --cool-gray-30: #6a6f78;

  --white: #fff;
  --black: #000;

  --dark-blue: #1e253a;

  --text-black: #242424;

  /* Shadow, Glow */
  --shadow-1: 0px 0px 20px 0px #00000040;
  --glow-1: 0px 0px 40px 10px #ffffff99;

  /* Blur */
  --blur-1: blur(100px);
  --blur-2: blur(300px);
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    letter-spacing: -0.3px;
  }
  body {
    background-color: var(--black);
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .line {
    width: 100%;
    height: 1px;
    background-color: var(--gray-20);
    opacity: 0.4;
  }

  .introText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 700;
    color: var(--white);
    transition: opacity 0.5s ease-in-out;
    white-space: nowrap;

    @media (max-width: 1920px) {
      font-size: 60px;
    }
  }

  .menu {
    color: var(--white);
    font-size: 3rem;
    font-weight: 600;

    @media (max-width: 1920px) {
      font-size: 2.5rem;
    }
  }

  .subMenu {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;

    @media (max-width: 1920px) {
      font-size: 1.25rem;
    }
  }
}

@layer utilities {
  /* Font Sizes */
  .h1 {
    /* 공란 */
  }

  .h2 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.2;

    @media (max-width: 1920px) {
      font-size: 5rem;
    }
  }

  .h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.45;

    @media (max-width: 1920px) {
      font-size: 2.5rem;
    }
  }

  .h4 {
    font-size: 2.25rem;
    font-weight: 700;

    @media (max-width: 1920px) {
      font-size: 1.75rem;
    }
  }

  .h5 {
    font-size: 1.875rem;
    font-weight: 700;

    @media (max-width: 1920px) {
      font-size: 1.5rem;
    }
  }

  .body1 {
  }

  .body2 {
    font-size: 1.5rem;
    line-height: 1.6;

    @media (max-width: 1920px) {
      font-size: 1.25rem;
    }
  }

  .body3 {
    font-size: 1.375rem;
    line-height: 1.7;
    @media (max-width: 1920px) {
      font-size: 1.125rem;
    }
  }

  .body4 {
    font-size: 1.25rem;
    line-height: 1.7;

    @media (max-width: 1920px) {
      font-size: 1rem;
    }
  }

  .body5 {
    font-size: 1.125rem;
    line-height: 1.6;

    @media (max-width: 1920px) {
      font-size: 0.875rem;
    }
  }

  .body6 {
    font-size: 0.875rem;
    line-height: 1.5;

    @media (max-width: 1920px) {
      font-size: 0.75rem;
    }
  }

  .footer {
    font-size: 1rem;
    font-weight: 500;
  }

  /* Text Colors */
  .text-gray-10 {
    color: var(--gray-10);
  }
  .text-gray-20 {
    color: var(--gray-20);
  }
  .text-gray-30 {
    color: var(--gray-30);
  }
  .text-gray-40 {
    color: var(--gray-40);
  }
  .text-gray-50 {
    color: var(--gray-50);
  }
  .text-white {
    color: var(--white);
  }
  .text-black {
    color: var(--text-black);
  }
  .text-cool-gray-10 {
    color: var(--cool-gray-10);
  }
  .text-cool-gray-20 {
    color: var(--cool-gray-20);
  }
  .text-cool-gray-30 {
    color: var(--cool-gray-30);
  }
  .text-dark-blue {
    color: var(--dark-blue);
  }

  /* Background Colors */
  .bg-gray-10 {
    background-color: var(--gray-10);
  }
  .bg-gray-20 {
    background-color: var(--gray-20);
  }
  .bg-gray-30 {
    background-color: var(--gray-30);
  }
  .bg-gray-40 {
    background-color: var(--gray-40);
  }
  .bg-gray-50 {
    background-color: var(--gray-50);
  }
  .bg-white {
    background-color: var(--white);
  }
  .bg-black {
    background-color: var(--black);
  }
  .bg-cool-gray-10 {
    background-color: var(--cool-gray-10);
  }
  .bg-cool-gray-20 {
    background-color: var(--cool-gray-20);
  }
  .bg-cool-gray-30 {
    background-color: var(--cool-gray-30);
  }
  .bg-dark-blue {
    background-color: var(--dark-blue);
  }

  /* Border Colors */
  .border-gray-10 {
    border-color: var(--gray-10);
  }
  .border-gray-20 {
    border-color: var(--gray-20);
  }
  .border-gray-30 {
    border-color: var(--gray-30);
  }
  .border-gray-40 {
    border-color: var(--gray-40);
  }
  .border-gray-50 {
    border-color: var(--gray-50);
  }
  .border-white {
    border-color: var(--white);
  }
  .border-black {
    border-color: var(--black);
  }
  .border-cool-gray-10 {
    border-color: var(--cool-gray-10);
  }
  .border-cool-gray-20 {
    border-color: var(--cool-gray-20);
  }
  .border-cool-gray-30 {
    border-color: var(--cool-gray-30);
  }
  .border-dark-blue {
    border-color: var(--dark-blue);
  }

  /* placeholder colors */
  .placeholder-gray-10::placeholder {
    color: var(--gray-10);
  }
  .placeholder-gray-20::placeholder {
    color: var(--gray-20);
  }
  .placeholder-gray-30::placeholder {
    color: var(--gray-30);
  }
  .placeholder-gray-40::placeholder {
    color: var(--gray-40);
  }
  .placeholder-gray-50::placeholder {
    color: var(--gray-50);
  }
  .placeholder-white::placeholder {
    color: var(--white);
  }
  .placeholder-black::placeholder {
    color: var(--black);
  }
  .placeholder-cool-gray-10::placeholder {
    color: var(--cool-gray-10);
  }
  .placeholder-cool-gray-20::placeholder {
    color: var(--cool-gray-20);
  }
  .placeholder-cool-gray-30::placeholder {
    color: var(--cool-gray-30);
  }
  .placeholder-dark-blue::placeholder {
    color: var(--dark-blue);
  }

  /* Shadow, Glow */
  .shadow-1 {
    box-shadow: var(--shadow-1);
  }

  .glow-1 {
    box-shadow: var(--glow-1);
  }

  /* Blur */
  .blur-1 {
    filter: var(--blur-1);
  }

  .blur-2 {
    filter: var(--blur-2);
  }

  /* Text Outline */
  .text-outline {
    color: transparent; /* 안쪽은 투명 */
    -webkit-text-stroke: 1px black; /* 외곽선 두께와 색상 */
  }

  /* Cursor */
  .custom-cursor {
    position: fixed;
    pointer-events: none;
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    border: 1px solid var(--gray-30);
    z-index: 9999;
    pointer-events: none;
  }

  /* Scrollbar */
  .scrollbar::-webkit-scrollbar {
    width: 22px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--white);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--cool-gray-20);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Animations */
  @keyframes bgFadeIn {
    0% {
      backdrop-filter: blur(0);
    }
    100% {
      backdrop-filter: blur(12px);
    }
  }

  .bg-fade-in {
    animation-name: bgFadeIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-up {
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.6s;
  }
}
